:root {
  min-height: 100vh;
  box-sizing: border-box;

  background-color: #212121;
  color: white;
  background-image: url("https://images.unsplash.com/photo-1543857778-c4a1a3e0b2eb?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fGJhY2tncm91bmQlMjBpbWFnZXxlbnwwfHwwfHx8MA%3D%3D");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#root {
  min-height: 90vh;
}

.top {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 1rem;
}

.todo-input {
  width: 40vw;
  height: 4.5vh;
  border-radius: 5px;
  border-style: none;
}
.todo-input:focus {
  border: 4px solid rgba(10, 10, 10, 0.418);
}
.todo-btn {
  width: 10vw;
  height: 5vh;
  border-radius: 10px;
  border-style: none;
  background-color: rgb(17, 32, 161);
  color: white;
}

.todo-btn:hover {
  cursor: pointer;
  background-color: rgba(17, 31, 161, 0.616);
}
.bottom {
  min-height: 60vh;
  box-sizing: border-box;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.box {
  width: 15rem;
  min-height: auto;
  border-radius: 10px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
.input-show-todo {
  padding: 0 1rem 0 1rem;
  border-style: none;
  color: rgba(255, 249, 249, 0.808);
}
.btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.btn-social {
  margin-bottom: 1rem;
  margin-right: 1rem;
}
